In [1]:
import pandas as pd

In [2]:
import matplotlib
%matplotlib inline

In [3]:
path = 'WPP_CTA_Q.csv'
CTA_data = pd.read_csv(path)

In [4]:
CTA_data

,时间戳记,What is your name,Do you believe sexual fluidity?,What is your spirit drug?,The recent movie name you have watch,How many pets you want to have in your life?,Where is your dream wedding place?,Unnamed: 7
0,2022/11/16 1:47:27 下午 GMT,Jana,Yes,Music,The Circle,1,Palace,No
1,2022/11/16 1:57:43 下午 GMT,Rocio,Yes,Book;Music;Meditation,Cruella,0,Island,Nope
2,2022/11/16 2:01:27 下午 GMT,Tilly,Yes,Music,Everything Everywhere All at Once,3,Moon,No
3,2022/11/16 2:04:03 下午 GMT,Jade,Yes,Music,Pulp Fiction,0,Moon,No
4,2022/11/16 2:12:31 下午 GMT,Jiaze Li,No,Cigarette;Book;Movie;Music,The darkest hour,1,Moon,wooden god (I created it)
5,2022/11/16 2:22:48 下午 GMT,Dara,Yes,Music,Sing,1,Island,Yes
6,2022/11/16 5:39:48 下午 GMT,Wen,Yes,Movie;Music;Sports,The Billion Dollars Code,1,Island,Yes
7,2022/11/16 8:32:25 下午 GMT,Adele,No,Alcohol,Alter carbon,2,Moon,Yes
8,2022/11/17 1:43:31 下午 GMT,jasmine,Yes,Alcohol,the killing of a sacred deer,as many as possible,Island,apatheist
9,2022/11/17 1:58:37 下午 GMT,Beth,Yes,Cigarette,Repo the genetic opera,1,Don't want to get married,No
10,2022/11/17 2:28:33 下午 GMT,Ning Wei,Yes,Alcohol,Untouchable,4,Island,No
11,2022/11/18 2:18:18 下午 GMT,kat,Yes,Book,clueless,a lot,industrial building,NaN
12,2022/11/18 4:13:44 下午 GMT,Precious,No,Alcohol,wakanda,2,beach,NaN

In [5]:
CTA_data.head()

,时间戳记,What is your name,Do you believe sexual fluidity?,What is your spirit drug?,The recent movie name you have watch,How many pets you want to have in your life?,Where is your dream wedding place?,Unnamed: 7
0,2022/11/16 1:47:27 下午 GMT,Jana,Yes,Music,The Circle,1,Palace,No
1,2022/11/16 1:57:43 下午 GMT,Rocio,Yes,Book;Music;Meditation,Cruella,0,Island,Nope
2,2022/11/16 2:01:27 下午 GMT,Tilly,Yes,Music,Everything Everywhere All at Once,3,Moon,No
3,2022/11/16 2:04:03 下午 GMT,Jade,Yes,Music,Pulp Fiction,0,Moon,No
4,2022/11/16 2:12:31 下午 GMT,Jiaze Li,No,Cigarette;Book;Movie;Music,The darkest hour,1,Moon,wooden god (I created it)

In [7]:
CTA_data[8:]

,时间戳记,What is your name,Do you believe sexual fluidity?,What is your spirit drug?,The recent movie name you have watch,How many pets you want to have in your life?,Where is your dream wedding place?,Unnamed: 7
8,2022/11/17 1:43:31 下午 GMT,jasmine,Yes,Alcohol,the killing of a sacred deer,as many as possible,Island,apatheist
9,2022/11/17 1:58:37 下午 GMT,Beth,Yes,Cigarette,Repo the genetic opera,1,Don't want to get married,No
10,2022/11/17 2:28:33 下午 GMT,Ning Wei,Yes,Alcohol,Untouchable,4,Island,No
11,2022/11/18 2:18:18 下午 GMT,kat,Yes,Book,clueless,a lot,industrial building,NaN
12,2022/11/18 4:13:44 下午 GMT,Precious,No,Alcohol,wakanda,2,beach,NaN

In [10]:
CTA_data.columns[1:7]

Index(['What is your name', 'Do you believe sexual fluidity?',
       'What is your spirit drug?', 'The recent movie name you have watch',
       'How many pets you want to have in your life?',
       'Where is your dream wedding place?'],
      dtype='object')

In [17]:
# I tried to use data[]/rename/sign value to change the column into a short name, but failed
CTA_data.rename(columns={"Do you believe sexual fluidity?":"sexual fluidity"})
sexual_fluidity = 'Do you believe sexual fluidity?'

,时间戳记,What is your name,sexual fluidity,What is your spirit drug?,The recent movie name you have watch,How many pets you want to have in your life?,Where is your dream wedding place?,Unnamed: 7
0,2022/11/16 1:47:27 下午 GMT,Jana,Yes,Music,The Circle,1,Palace,No
1,2022/11/16 1:57:43 下午 GMT,Rocio,Yes,Book;Music;Meditation,Cruella,0,Island,Nope
2,2022/11/16 2:01:27 下午 GMT,Tilly,Yes,Music,Everything Everywhere All at Once,3,Moon,No
3,2022/11/16 2:04:03 下午 GMT,Jade,Yes,Music,Pulp Fiction,0,Moon,No
4,2022/11/16 2:12:31 下午 GMT,Jiaze Li,No,Cigarette;Book;Movie;Music,The darkest hour,1,Moon,wooden god (I created it)
5,2022/11/16 2:22:48 下午 GMT,Dara,Yes,Music,Sing,1,Island,Yes
6,2022/11/16 5:39:48 下午 GMT,Wen,Yes,Movie;Music;Sports,The Billion Dollars Code,1,Island,Yes
7,2022/11/16 8:32:25 下午 GMT,Adele,No,Alcohol,Alter carbon,2,Moon,Yes
8,2022/11/17 1:43:31 下午 GMT,jasmine,Yes,Alcohol,the killing of a sacred deer,as many as possible,Island,apatheist
9,2022/11/17 1:58:37 下午 GMT,Beth,Yes,Cigarette,Repo the genetic opera,1,Don't want to get married,No
10,2022/11/17 2:28:33 下午 GMT,Ning Wei,Yes,Alcohol,Untouchable,4,Island,No
11,2022/11/18 2:18:18 下午 GMT,kat,Yes,Book,clueless,a lot,industrial building,NaN
12,2022/11/18 4:13:44 下午 GMT,Precious,No,Alcohol,wakanda,2,beach,NaN

In [27]:
SF_choice = CTA_data['Do you believe sexual fluidity?']
SF_choice

0     Yes
1     Yes
2     Yes
3     Yes
4      No
5     Yes
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12     No
Name: Do you believe sexual fluidity?, dtype: object

In [30]:
WP_choice = CTA_data['Where is your dream wedding place?']
WP_choice

0                        Palace
1                        Island
2                          Moon
3                          Moon
4                          Moon
5                        Island
6                        Island
7                          Moon
8                        Island
9     Don't want to get married
10                       Island
11          industrial building
12                        beach
Name: Where is your dream wedding place?, dtype: object

In [31]:
WP_choice.unique()

array(['Palace', 'Island', 'Moon', "Don't want to get married",
       'industrial building', 'beach'], dtype=object)

In [32]:
from collections import Counter
desired_marryplaces = Counter(WP_choice).most_common(3)
print(desired_marryplaces)

[('Island', 5), ('Moon', 4), ('Palace', 1)]

In [36]:
believe_sexual_fluity1 = CTA_data [[x for x in CTA_data['Where is your dream wedding place?'] == 'Moon']]
believe_sexual_fluity1

,时间戳记,What is your name,Do you believe sexual fluidity?,What is your spirit drug?,The recent movie name you have watch,How many pets you want to have in your life?,Where is your dream wedding place?,Unnamed: 7
2,2022/11/16 2:01:27 下午 GMT,Tilly,Yes,Music,Everything Everywhere All at Once,3,Moon,No
3,2022/11/16 2:04:03 下午 GMT,Jade,Yes,Music,Pulp Fiction,0,Moon,No
4,2022/11/16 2:12:31 下午 GMT,Jiaze Li,No,Cigarette;Book;Movie;Music,The darkest hour,1,Moon,wooden god (I created it)
7,2022/11/16 8:32:25 下午 GMT,Adele,No,Alcohol,Alter carbon,2,Moon,Yes

In [37]:
believe_sexual_fluity2 = CTA_data [[x for x in CTA_data['Where is your dream wedding place?'] == 'Island']]
believe_sexual_fluity2

,时间戳记,What is your name,Do you believe sexual fluidity?,What is your spirit drug?,The recent movie name you have watch,How many pets you want to have in your life?,Where is your dream wedding place?,Unnamed: 7
1,2022/11/16 1:57:43 下午 GMT,Rocio,Yes,Book;Music;Meditation,Cruella,0,Island,Nope
5,2022/11/16 2:22:48 下午 GMT,Dara,Yes,Music,Sing,1,Island,Yes
6,2022/11/16 5:39:48 下午 GMT,Wen,Yes,Movie;Music;Sports,The Billion Dollars Code,1,Island,Yes
8,2022/11/17 1:43:31 下午 GMT,jasmine,Yes,Alcohol,the killing of a sacred deer,as many as possible,Island,apatheist
10,2022/11/17 2:28:33 下午 GMT,Ning Wei,Yes,Alcohol,Untouchable,4,Island,No

In [38]:
believe_sexual_fluity3 = CTA_data [[x for x in CTA_data['Where is your dream wedding place?'] == 'Palace']]
believe_sexual_fluity3

,时间戳记,What is your name,Do you believe sexual fluidity?,What is your spirit drug?,The recent movie name you have watch,How many pets you want to have in your life?,Where is your dream wedding place?,Unnamed: 7
0,2022/11/16 1:47:27 下午 GMT,Jana,Yes,Music,The Circle,1,Palace,No

In [40]:
SD_choice = CTA_data['What is your spirit drug?']
SD_choice

0                          Music
1          Book;Music;Meditation
2                          Music
3                          Music
4     Cigarette;Book;Movie;Music
5                          Music
6             Movie;Music;Sports
7                        Alcohol
8                        Alcohol
9                      Cigarette
10                       Alcohol
11                          Book
12                       Alcohol
Name: What is your spirit drug?, dtype: object

In [42]:
SD_choice.unique()

array(['Music', 'Book;Music;Meditation', 'Cigarette;Book;Movie;Music',
       'Movie;Music;Sports', 'Alcohol', 'Cigarette', 'Book'], dtype=object)

In [44]:
from collections import Counter
Popular_SD = Counter(SD_choice).most_common(3)
print(Popular_SD)

[('Music', 4), ('Alcohol', 4), ('Book;Music;Meditation', 1)]

In [55]:
CTA_data.loc[CTA_data ['What is your spirit drug?'] == 'Music' ]

,时间戳记,What is your name,Do you believe sexual fluidity?,What is your spirit drug?,The recent movie name you have watch,How many pets you want to have in your life?,Where is your dream wedding place?,Unnamed: 7
0,2022/11/16 1:47:27 下午 GMT,Jana,Yes,Music,The Circle,1,Palace,No
2,2022/11/16 2:01:27 下午 GMT,Tilly,Yes,Music,Everything Everywhere All at Once,3,Moon,No
3,2022/11/16 2:04:03 下午 GMT,Jade,Yes,Music,Pulp Fiction,0,Moon,No
5,2022/11/16 2:22:48 下午 GMT,Dara,Yes,Music,Sing,1,Island,Yes

In [56]:
# what if I want to acount the multiple choices answer as the same single answer. eg. 'Music','Book;Music;Meditation', Music is a same answer

CTA_data.loc[CTA_data ['What is your spirit drug?'] == 'Movie' ]

Empty DataFrame
Columns: [时间戳记, What is your name, Do you believe sexual fluidity?, What is your spirit drug?, The recent movie name you have watch, How many pets you want to have in your life?, Where is your dream wedding place?, Unnamed: 7]
Index: []

In [57]:
CTA_data.loc[CTA_data ['What is your spirit drug?'] == 'Alcohol' ]

,时间戳记,What is your name,Do you believe sexual fluidity?,What is your spirit drug?,The recent movie name you have watch,How many pets you want to have in your life?,Where is your dream wedding place?,Unnamed: 7
7,2022/11/16 8:32:25 下午 GMT,Adele,No,Alcohol,Alter carbon,2,Moon,Yes
8,2022/11/17 1:43:31 下午 GMT,jasmine,Yes,Alcohol,the killing of a sacred deer,as many as possible,Island,apatheist
10,2022/11/17 2:28:33 下午 GMT,Ning Wei,Yes,Alcohol,Untouchable,4,Island,No
12,2022/11/18 4:13:44 下午 GMT,Precious,No,Alcohol,wakanda,2,beach,NaN

In [60]:
CTA_data.loc[CTA_data ['What is your spirit drug?'] == 'Cigarette' ]

,时间戳记,What is your name,Do you believe sexual fluidity?,What is your spirit drug?,The recent movie name you have watch,How many pets you want to have in your life?,Where is your dream wedding place?,Unnamed: 7
9,2022/11/17 1:58:37 下午 GMT,Beth,Yes,Cigarette,Repo the genetic opera,1,Don't want to get married,No

In [49]:
CTA_data.loc[CTA_data['What is your name'] == 'Jiaze Li']

,时间戳记,What is your name,Do you believe sexual fluidity?,What is your spirit drug?,The recent movie name you have watch,How many pets you want to have in your life?,Where is your dream wedding place?,Unnamed: 7
4,2022/11/16 2:12:31 下午 GMT,Jiaze Li,No,Cigarette;Book;Movie;Music,The darkest hour,1,Moon,wooden god (I created it)

In [54]:
Love_pet_person = CTA_data.loc[CTA_data['How many pets you want to have in your life?'] == CTA_data['How many pets you want to have in your life?'].max(), 'What is your name']
print(Love_pet_person)
print(Love_pet_person.item())

8    jasmine
Name: What is your name, dtype: object
jasmine